@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Geist', sans-serif;
}

body {
    background-color: #222;
    color: white;
}

header {
    text-align: center;
}

header h2 {
    font-size: 1.25rem;
    color: #aaa;
}

#formulario {
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.campo-form {
    display: flex;
    flex-direction: column;
}

.campo-form input[type="text"], .campo-form input[type="password"], .campo-form input[type="tel"], .campo-form input[type="email"], .campo-form select {
    padding: .25rem 0.75rem;
    border-radius: 5px;
    border: solid 1px #777;
    background-color: #444;
    color: white;
}

.campo-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / -1;
}

.campo-submit input {
    inset: none;
    color: white;
    background-color: #444;
    padding: .25rem .75rem;
    transition: 0.3s all;
}

.campo-submit input:hover {
    background-color: #555;
}

